@import '../../assets/styles/variables.scss';

.cartDropdown {
  position: absolute;
  width: 340px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  padding: 21px;
  border: 1px solid $vitl-accent-one;
  background-color: white;
  top: 78px;
  right: 18px;
  z-index: 5;
  box-shadow: -1px 4px 7px 0px rgba(207,140,140,0.74);
  -webkit-box-shadow: -1px 4px 7px 0px rgba(207,140,140,0.74);
  -moz-box-shadow: -1px 4px 7px 0px rgba(207,140,140,0.74);

  .emptyMessage {
    text-align: center;
  }

  .cartItems {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}

.totalLabel {
  flex-grow: 1;
}
.totalSum {
  font-weight: bold;
  padding: 10px;
  display: flex;
  margin-right: 20px;
}
