.cartIcon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shoppingIcon {
    width: 24px;
    height: 24px;
  }

  .itemCount {
    position: absolute;
    bottom: 6px;
    right: 5px;
    background: #46bc8f;
    border-radius: 100%;
    font-size: 13px;
    line-height: 12px;
    width: 14px;
    height: 14px;
    color: #fff;
    text-align: center;
  }
}
