@import '../../assets/styles/variables.scss';

.header {
  padding: 15px;
  background: $vitl-white;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.38);
  -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.38);
  -moz-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.38);
}