.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.cardsItem {
  display: flex;
  padding: 1rem;
}

.cardImage {
  width: 100%;
  background-color: #fef6dc;
}

.divider {
  display: inline-block;
  width: 70px;
  height: 2px;
  margin-top: 30px;
  margin-bottom: 25px;
  background-color: #ffd326;
}

@media (min-width: 40rem) {
  .cardsItem {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cardsItem {
    width: 30.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cardContent {
  padding: 1rem;
  background: #fff;
}

.productName {
  color: #333;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
}

.productPrice {
  margin-bottom: 1.25rem;
  font-weight: 400;
  font-size: inherit;
  line-height: 30px;
  color: #aeaa9a;
  text-align: center;
}
.productFooter{
  display: flex;
  justify-content: center;
}