.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.cardsItem {
  display: flex;
  padding: 15px;
}

.cardImage {
  width: 100%;
  background-color: #fef6dc;
}

@media (min-width: 640px) {
  .cardsItem {
    width: 50%;
  }
}

@media (min-width: 896px) {
  .cardsItem {
    width: 22%;
  }
}

.card {
  background-color: white;
  border: 1px solid #fef6dc;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cardContent {
  padding: 15px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productName {
  color: #333;
  font-size: 22px;
  line-height: 2px;
  text-align: center;
}

.productPrice {
  font-weight: 400;
  font-size: inherit;
  color: #aeaa9a;
  text-align: center;
}
.productFooter{
  display: flex;
  justify-content: center;
}